$core-max-width: 1000px;
$core-brand-color: #FEDC07;
$core-color-accent: #00AEE1;
$core-secondary-color: #19388A;
$core-light-color: #ffffff;

body {
	background: url('../images/background.jpg') no-repeat;
	  background-attachment: fixed;
    background-position: center; 
}